li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    transition: 0.5s;
    background: var(--bgColor);
    border-radius: 20px;
    padding: 5px 10px;
    width: 100%;
    transition: 0.5s;
}

li a:hover,
li a.active {
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35);
}

